.all{
background-color: beige;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    color: rgb(51, 43, 49);
    border-radius: 20px;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    background-color: darkviolet;
}
#registro{
    display: grid;
    justify-content: center;
    
}
.BT{
    background-color: transparent;
    border:transparent ; 
}
label{
    background-color: rgb(164, 31, 221);
    border-radius: 20px;
    border: 1px solid black;
    color: aliceblue;
    text-align: center;
}

.ft{
    background-color: rgb(109, 118, 126);
    display: flex;
    justify-content: center;
    align-items: center;   
    text-align: center;
    gap: 20px;
    position: fixed;   
    bottom: 0;         
    left: 0;
    width: 100%; 
    height: 100px; 
}